<template>
  <div>
    <clv-menu/>
    <clv-text prefix="Products: ">This is the Products page in Vue3 / app-products</clv-text>
    <clv-search />
    <p @click="increment">Counter: {{ counter }}</p>
    <p @click="reset">Total: {{ total }} @ {{ at }}</p>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { storeToRefs } from 'pinia';
import { ClvMenu, ClvText, ClvSearch } from 'javier-sedano-ufe5-component-library-vue3';
import 'javier-sedano-ufe5-component-library-vue3/style.css';
import { useTotalStore } from 'javier-sedano-ufe5-store-library-pinia/src/stores/total.store';

const counter = ref(0 as number);

const totalStore = useTotalStore();

const { total, at } = storeToRefs(totalStore);

onMounted(async () => {
  counter.value = Math.round(Math.random() * 10) + 1;
});

async function increment() {
  counter.value++;
  totalStore.increment(counter.value);
}

async function reset() {
  totalStore.reset();
}

</script>